<div style='text-align:center; border:10px solid red'>

  <div class="element" style="align-content: center">
    <img width="50" alt="Angular Logo" src="assets/image-source/oopsError.png" />

  </div>

  <h2 class="text-danger"> Error .... </h2>
  <p class="text-danger"> Eerror Occurred RAJESH While processing your request...</p>
  <br>
  ERORR Details. : {{err}}
  <p>
    <a [routerLink]='["/users"]'>
      <h5>
        <p style="text-align:center">Back-To-User-MainPage</p>
      </h5>
    </a>
    </p>
</div>
<div>
  
</div>
